n8n/backup/workflows/AI_Agent_Caller.json
{
  "name": "AI Agent Caller",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Das ist das heutige Datum: {{ $now }} \n\nRolle:\nDu bist ein Anrufassistent. Deine Aufgabe ist es, Leads telefonisch zu kontataktieren\n\nTools, die du verwenden kannst:\n\nget_contacts\nVerwende dieses Tool, wenn der Benutzer sagt, dass jemand angerufen oder erinnert werden soll – z. B.:\n„Rufe Markus Bremen an und erinnere ihn an seinen Termin.“\n→ Suche dann den vollständigen Namen und die zugehörige Telefonnummer aus der Kontaktliste.\n\ntermin_assistant\nNachdem du Name, Telefonnummer und Terminzeitpunkt hast, nutze dieses Tool, um den Anruf durchzuführen.\nWichtig: Stelle sicher, dass die Telefonnummer im Format +49... oder +43... beginnt – das + am Anfang ist Pflicht.\nTrage die folgenden Daten in die entsprechenden Felder ein:\n\nname: Der vollständige Name der Zielperson\n\ntermin: Datum des Termins\n\ntelefonnummer: Telefonnummer im richtigen Format mit +\n\ncold_caller\nWird verwendet, wenn es um das Anrufen von kalten Leads geht (z. B. neue Interessenten ohne bestehenden Termin). Verwende dieses Tool nur in solchen Fällen.\nNachdem du Hotelname und Telefonnummer hast, nutze dieses Tool, um den Anruf durchzuführen.\nWichtig: Stelle sicher, dass die Telefonnummer im Format +49... oder +43... beginnt – das + am Anfang ist Pflicht.\n\nAllgemeiner_Anrufer\nWird verwendet, wenn der Benutzer jemanden anrufen möchte, und ein dynamisches Anliegen hat, unnabhängig von Terminerrinerungen, oder Cold Calls\n\nDu musst dafür basierend auf dem, was der Benutzer sagt, einen sogenannten kleinen prompt definieren, wo du einer anderen KI aufträgst, wer angerufen werden soll, und um was der Anruf gehen soll.\n\nNachdem du die Telefonnummer und den Prompt hast, nutze dieses Tool, um den Anruf durchzuführen.\n\nWichtig: Stelle sicher, dass die Telefonnummer im Format +49... oder +43... beginnt – das + am Anfang ist Pflicht.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        460,
        -80
      ],
      "id": "9423f42a-b8f7-4fac-895d-0cba333fdee8",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ywZF-98LgBEKmvbd0jTYfOz4NY0UbhZ4shKXNivN8Pc",
          "mode": "list",
          "cachedResultName": "Kontaktliste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ywZF-98LgBEKmvbd0jTYfOz4NY0UbhZ4shKXNivN8Pc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ywZF-98LgBEKmvbd0jTYfOz4NY0UbhZ4shKXNivN8Pc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        580,
        140
      ],
      "id": "49414fa5-787a-4e87-871c-a1706148b6fb",
      "name": "get_contacts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hhsHCxChZuFQyOpl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "termin_reminder",
        "description": "Benutze dieses tool, um einen anruf zu machen, um leute an einen Termin zu errinern",
        "workflowId": {
          "__rl": true,
          "value": "59g7CjGTnCUv3FJs",
          "mode": "list",
          "cachedResultName": "termin_reminder_assistant"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"Name\", \"der name der person\") }}",
            "termin": "={{ $fromAI(\"Termin\", \"Termin\") }}",
            "telefonnummer": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefonnummer', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "termin",
              "displayName": "termin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefonnummer",
              "displayName": "telefonnummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1000,
        140
      ],
      "id": "e08cff4f-60db-4b28-a40c-a15df411c9dc",
      "name": "termin_assistant"
    },
    {
      "parameters": {
        "name": "cold_Caller",
        "description": "Benutze dieses tool, um kalte leads zu kontaktieren ",
        "workflowId": {
          "__rl": true,
          "value": "5PyFKgK3cl9Wm2dP",
          "mode": "list",
          "cachedResultName": "cold_caller_assistant"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Hotelname": "={{ $fromAI('hotel_name') }}",
            "telefonnummer": "={{ $fromAI('Telefonnummer') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Hotelname",
              "displayName": "Hotelname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefonnummer",
              "displayName": "telefonnummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        700,
        140
      ],
      "id": "29044521-5c19-4d44-8b7e-c4fd2fa01434",
      "name": "cold_caller"
    },
    {
      "parameters": {
        "name": "Allgemeiner_Anrufer",
        "description": "Benutzte dieses Tool, wenn es um allgemeine Anfragen/anrufe geht, bzw. dynamische Anrufe gemacht werden müssen",
        "workflowId": {
          "__rl": true,
          "value": "CUdwVLSfOVwYaTRP",
          "mode": "list",
          "cachedResultName": "Allgemeiner Anrufer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Prompt": "={{ $fromAI('die_anweisung_ueber_was_und_an_wen_der_anruf_gehen_soll') }}",
            "Telefonnummer": "={{ $fromAI('telefonnummer') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        840,
        140
      ],
      "id": "8deb64a9-63d6-4ed7-a75d-22bbe6753463",
      "name": "Allgemeiner Anrufer"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        20
      ],
      "id": "9b469601-6e0c-448d-9676-506be2c85f7a",
      "name": "Telegram Trigger",
      "webhookId": "d9712bbd-cf62-4a02-ab75-fcda2d94e3d2",
      "credentials": {
        "telegramApi": {
          "id": "Sb7FgWzvbBFvnLlZ",
          "name": "AI Voice Agent Interaction"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7d854090-2d8e-47bd-b00e-b5452902790a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e784db85-df63-4b63-a2e9-eeb8b0d49ab6",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        -180
      ],
      "id": "b37d834b-9331-4d0c-bab3-a4e43739badc",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41c2b145-5952-435c-b1e3-cca7859cd5a6",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -180
      ],
      "id": "1c3e9546-d710-466e-b468-c0f6bcc9c954",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        120,
        140
      ],
      "id": "e8076bf0-b431-43e0-9c8c-bd8af7a39d9c",
      "name": "Telegram",
      "webhookId": "e56013a3-e6ba-4075-85ce-83256df4d911",
      "credentials": {
        "telegramApi": {
          "id": "Sb7FgWzvbBFvnLlZ",
          "name": "AI Voice Agent Interaction"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        -20
      ],
      "id": "913b721a-9e49-4b82-aed1-7858281428b5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "h9Zx5W04F2phP2kY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        -80
      ],
      "id": "709b55ac-2632-4572-a964-026a624c8088",
      "name": "Telegram1",
      "webhookId": "f233f9c0-38f5-4baf-9dfd-151602754af8",
      "credentials": {
        "telegramApi": {
          "id": "Sb7FgWzvbBFvnLlZ",
          "name": "AI Voice Agent Interaction"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        140
      ],
      "id": "1cf816b0-43b8-45c4-98ed-ed2856d18242",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "h9Zx5W04F2phP2kY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        140
      ],
      "id": "3ef8da74-c0d2-42c8-bccf-544c2b3ecf25",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "get_contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "termin_assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cold_caller": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Allgemeiner Anrufer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "135b4b2b-286b-49f8-b5eb-cfc52ec17ed4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4859b1835e199ab2a6c3412de22db564b818e1d0ef1418c63000d7155a3647fd"
  },
  "id": "4YhezCVmDPqRj8a4",
  "tags": [
    {
      "createdAt": "2025-03-25T13:49:56.303Z",
      "updatedAt": "2025-03-25T13:49:56.303Z",
      "id": "vuaT1IHvTApv5ScR",
      "name": "KI Caller"
    }
  ]
}