n8n/backup/workflows/HeyGen_Video_Creation_V1.json
{
  "name": "HeyGen Video Creation V1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0c91c82e-dd66-4062-8f7b-3c8107ce0afb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        240
      ],
      "id": "9f524114-24e8-482c-a56f-bae6aee7e0df",
      "name": "HTTP Request: Generate a Video in HeyGen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z1j2lhfHiUY7e3pq",
          "name": "HeyGen account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        240
      ],
      "id": "890f7ec8-ee29-4250-9395-7c923c303f5f",
      "name": "Wait",
      "webhookId": "4dc712db-c8a5-4309-9164-5447b3d88488"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4169684c-f417-4728-9399-5c47dca05deb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        240
      ],
      "id": "7c0fc157-0fd0-4e63-8bf9-bee0ccece9b2",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $('HTTP Request: Generate a Video in HeyGen').first().json.data.video_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        240
      ],
      "id": "15a56ab3-f2c8-47aa-aa9e-944f8d6606e1",
      "name": "HTTP Request: Check the Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Z1j2lhfHiUY7e3pq",
          "name": "HeyGen account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app830H9epkKJqyRF",
          "mode": "list",
          "cachedResultName": "Content Transformer",
          "cachedResultUrl": "https://airtable.com/app830H9epkKJqyRF"
        },
        "table": {
          "__rl": true,
          "value": "tblbbXWmCClNXR8z8",
          "mode": "list",
          "cachedResultName": "Videos",
          "cachedResultUrl": "https://airtable.com/app830H9epkKJqyRF/tblbbXWmCClNXR8z8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable: Get the Video Script').first().json.id }}",
            "Status": "Done",
            "SF Video URL": "={{ $json.attachments[0].url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Video ID",
              "displayName": "Video ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Long-Form Script",
              "displayName": "Long-Form Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Short-form Script",
              "displayName": "Short-form Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image Creation Prompts",
              "displayName": "Image Creation Prompts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creator",
              "displayName": "Creator",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Associated Images",
              "displayName": "Associated Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SFV Images Used",
              "displayName": "SFV Images Used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SF Video URL",
              "displayName": "SF Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LF Video URL",
              "displayName": "LF Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transformer",
              "displayName": "Transformer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Created",
              "displayName": "Date Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "AutoNumber",
              "displayName": "AutoNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Images and Memes copy",
              "displayName": "Images and Memes copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Images and Memes copy",
              "displayName": "Images and Memes copy",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        300
      ],
      "id": "34424de4-130b-449e-a5c5-3de191f6a32e",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "OXdNIGBud2iVgX6R",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app830H9epkKJqyRF",
          "mode": "list",
          "cachedResultName": "Content Transformer",
          "cachedResultUrl": "https://airtable.com/app830H9epkKJqyRF"
        },
        "table": {
          "__rl": true,
          "value": "tblbbXWmCClNXR8z8",
          "mode": "list",
          "cachedResultName": "Videos",
          "cachedResultUrl": "https://airtable.com/app830H9epkKJqyRF/tblbbXWmCClNXR8z8"
        },
        "filterByFormula": "{Status}='In progress'",
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Date Created",
              "direction": "desc"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        0
      ],
      "id": "c63c879f-f070-446d-bac0-69cb3e17ef85",
      "name": "Airtable: Get the Video Script",
      "credentials": {
        "airtableTokenApi": {
          "id": "OXdNIGBud2iVgX6R",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const attachments = [];\n\n$input.all().forEach(item => {\n    const videoURL = item.json.data.video_url;\n    // const videoURL = item.json.video_url;\n    attachments.push({url: videoURL});\n});\n\nreturn {json: {attachments: attachments}};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ],
      "id": "787cacee-f01c-4dd3-a2e9-4c48373b548e",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n    caption: true,\n    \"caption_style\": {\n        \"color\": \"#FFFFFF\",\n        \"font\": \"Arial\",\n        \"size\": 16,\n        \"position\": \"bottom\"\n    },\n    dimension: {\n        width: 1080,\n        height: 1920\n    },\n    title: `${$('Airtable: Get the Video Script').first().json.Title}`,\n    video_inputs: [\n        {\n            character: {\n                type: \"avatar\",\n                avatar_id: \"Annie_expressive_public\",\n                avatar_style: \"normal\",\n                \"position\": \"center\",\n                \"scale\": 1.5\n            },\n            voice: {\n                type: \"text\",\n                input_text: `${$input.first().json.script}`, // Dynamically assign the input text\n                voice_id: \"3e3193831b9e4e39afabb803696868d4\"\n            },\n            background: {\n                type: \"image\", // Change background type to 'image'\n                url: `${$('Airtable1').first().json.Image[0].url}` // Specify the URL of the background image\n            },\n        }\n    ]\n};\n\nreturn [\n    {\n        json: {payload: payload}\n    }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "cbc90bb9-9366-4b0f-80d8-d1f871d78d85",
      "name": "Code2"
    },
    {
      "parameters": {
        "content": "# Create Videos\n\nSend Script to HeyGen",
        "height": 220,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        80
      ],
      "id": "a9fb2245-4a0e-4819-b2e1-e3b1d3219ff0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const script = $('Airtable: Get the Video Script').first().json['Short-form Script'];\n\n// Remove lines starting with '#'\nconst cleanedScript = script\n  .split('\\n') // Split script into lines\n  .filter(line => !line.startsWith('#')) // Remove lines starting with '#'\n  .join('\\n'); // Join the remaining lines back into a string\n\n\nreturn {json: {script: cleanedScript}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "39ff94bd-0428-4ab7-9719-fa461f5cf38d",
      "name": "Code8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cfe3471-1c83-4462-b565-532d5c7b1475",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        380
      ],
      "id": "cbb22043-69a6-48d2-896f-e234adf5bab2",
      "name": "If2"
    },
    {
      "parameters": {
        "errorMessage": "Your workflow died"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1060,
        480
      ],
      "id": "0decf9c1-2692-444f-bbef-bdde5fb2605c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app830H9epkKJqyRF",
          "mode": "list",
          "cachedResultName": "Content Transformer",
          "cachedResultUrl": "https://airtable.com/app830H9epkKJqyRF"
        },
        "table": {
          "__rl": true,
          "value": "tbl41isBHwSgOKbr7",
          "mode": "list",
          "cachedResultName": "Images, Screenshots and Memes",
          "cachedResultUrl": "https://airtable.com/app830H9epkKJqyRF/tbl41isBHwSgOKbr7"
        },
        "id": "={{ $json['Associated Images'][0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        520,
        0
      ],
      "id": "54bb9646-38fc-427a-a6a3-cce44ddbfae0",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "OXdNIGBud2iVgX6R",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable: Get the Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Generate a Video in HeyGen": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request: Check the Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Check the Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Get the Video Script": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request: Generate a Video in HeyGen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6390b5eb-3453-4f0e-a10c-7a46dc5bb6df",
  "meta": {
    "instanceId": "c4f9b6615ac1cf45381fabc81fe54931374a4e5a2fa8e093c7ed4bae1d24ff72"
  },
  "id": "VZ5eO4WJtgsR2Zea",
  "tags": []
}