n8n/backup/workflows/news blueprint.json
{
    "name": "Find company news",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1722923,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "News"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": true,
                "pattern": "([^,]+)",
                "multiline": true,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": false,
                "ignoreInfiniteLoopsWhenGlobal": false
            },
            "mapper": {
                "text": "{{1.competitors}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "ignoreInfiniteLoopsWhenGlobal",
                        "type": "boolean",
                        "label": "Ignore errors when there is an infinite search loop",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "i",
                        "type": "uinteger",
                        "label": "i"
                    },
                    {
                        "name": "__IMTMATCH__",
                        "type": "any",
                        "label": "Fallback Match"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "dumplingai:searchNews",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3389613
            },
            "mapper": {
                "limit": "10",
                "query": "{{2.`$1`}}",
                "language": "en",
                "dateRange": "pastMonth"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "dateRange": {
                            "mode": "chose",
                            "label": "Past month"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dumplingai"
                            },
                            "label": "My Dumpling AI connection (Make.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dumplingai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Search Query",
                        "required": true
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "country",
                        "type": "text",
                        "label": "Country"
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "Language"
                    },
                    {
                        "name": "dateRange",
                        "type": "select",
                        "label": "Date Range",
                        "validate": {
                            "enum": [
                                "anyTime",
                                "pastHour",
                                "pastDay",
                                "pastWeek",
                                "pastMonth",
                                "pastYear"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "---\nTitle: {{3.title}}\n\nLink: {{3.link}}\n\nSnippit: {{3.snippet}}\n\nDate: {{3.date}}\n"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Webhooks - Custom webhook [1]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{{4.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Tools - Text aggregator [4]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{5.text}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}