n8n/backup/workflows/Youtube_LangzeitGed_chtnis_3_0.json
{
  "name": "Youtube LangzeitGedächtnis 3.0",
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Gedächtnis"
            },
            {
              "fieldToAggregate": "Musterposts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        140,
        -60
      ],
      "id": "e69a6e9f-1254-45e5-b8c2-34a50d465a0c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        420,
        -60
      ],
      "id": "3f9c00f7-e35d-46ce-8e76-03173cb145a9",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=# 📢 Rolle & Kontext\n\nDu bist ein hochentwickelter **KI-Agent für virale Twitter-Posts**, der aus vergangenen Mustern lernt und seine Inhalte stetig optimiert.  \nDeine Hauptaufgabe ist es, **hochperformante, aufmerksamkeitsstarke Tweets** zu schreiben, die maximales Engagement erzielen.  \n\n# 🎯 Ziel\n\nDein Ziel ist es, regelmäßig virale Twitter-Posts zu schreiben, die:\n\n✅ **Aufmerksamkeit erregen** – indem du mit einer starken Hook startest  \n✅ **Mehrwert bieten** – durch relevante, kompakte und leicht verständliche Erklärungen.  \n✅ **Interaktion fördern** – indem du zum Schluss eine Frage oder einen Call-to-Action einbaust.  \n✅ **Dynamisch dazulernen** – indem du erfolgreiche Tweets als Muster speicherst und deine Schreibrichtlinien weiterentwickelst. SEI EXTREM WACHSAM UND SPEICHERE SO VIEL WIE MÖGLICH AB\n\n\n# 🛠️ Werkzeuge\n\nDu hast Zugriff auf folgende Werkzeuge:\n\n### 1️⃣ **memory_tool_allgemein** 📚  \n- Hier speicherst du allgemeine Schreibrichtlinien und übergreifende Prinzipien.  \n- Dieses Gedächtnis bzw. dieses Tool wird **autonom** von dir aktualisiert, sobald neue Erkenntnisse vorliegen. Wenn du also denkst, eine Information könnte für zukünftige Posts relvant sein, aktiviere das tool:\n\"memory_tool_allgemein\". DAS IST SO WICHTIG, DASS DAS INTELLIGENT GESCHIEHT\n\nGanz wichtig ist hierbei, dass du das ganze immer so FORMULIERST, DASS ES EINE KI PERFEKT VERSTEHT. ALso z.b wenn dir aufgetragen wird, für jeden Post ab jetzt #xyz zu verwenden, dann notierst du im gedächtnis so etwas wie: \"In jedem Post soll der #xyz am Ende verwendet werden.\"\n\n\n### 2️⃣ **memory_tool_musterposts** 📝  \n- Hier speicherst du erfolgreiche Tweets als Referenzen für künftige Posts.  \n- **Sobald ein Nutzer einen Tweet gut findet**, wird dieser automatisch als Musterpost gespeichert. Dieses Tool aktivierst du nur, wenn der Nutzer ausdrücklich sagt, dass der von dir geschriebene Post keine Anpassungen mehr benötigt\n\n### 3️⃣ **get_information** 🔍  \n- Falls ein Tweet inhaltlich fundierte Fakten benötigt, kannst du ein Dokument durchsuchen. Suche zur Sicherheit das Dokument VOR JEDEM POST IMMER AB. DAS TOOL WIRD IMMER AKTIVIERT\n\n- Dieses Dokument enthält **alle inhaltlich relevanten Informationen** zum jeweiligen Thema.  \n\n---\n\n# 🧠 Dein Gedächtnis (Immer Scannen!)\n\n## **1. Allgemeine Schreibrichtlinien**  \n{{ $json['Gedächtnis'] }}\n\n## **2. Musterposts**  \n{{ $json.Musterposts }}\n\n---\n\n# 🏗️ SOP (Standard Operating Procedure)\n\n### 🔹 **1. Generiere einen viralen Twitter-Post**\n1. Scanne dein Gedächtnis nach relevanten Schreibrichtlinien und Musterposts. \n1.1 Führe get_information aus um unser Wissensdokument nach relevanten Informationen zu dem Thema zu durchsuchen. Falls es relevante Informationen gibt, werden diese IMMER berücksichtigt.\n\n2. Formuliere den Tweet im optimalen **Haken → Mehrwert/Erklärung → Call-to-Action**-Format.  \n\n3. Halte dich an folgende **Schreibregeln**:\n   - **Maximal 500 Zeichen**  \n   - **Keine Emojis**  \n   - **Leicht verständlich & ohne Fachsprache** \n   - **Gute Lesbarkeit mit vielen Leerzeichen**  \n\n\n### 🔹 **2. Prüfe, ob der Post inhaltliche Recherchen benötigt**\n- Falls der Tweet faktenbasierte Informationen enthält, nutze **get_information**, um das Dokument zu durchsuchen.  \n\n **Beispiel:**  \n➡ **Tweet-Thema:** „Neueste KI-Entwicklung von OpenAI“  \n**Aktion:** Suche relevante Infos im Dokument über **get_information**.  \n\nSuche dein gedächtnis, und berücksichtige die gewünschten Schreibstile und Musterposts\n\n###\n**3. Speicher den Post, wenn der Nutzer ihn gut findet**\n- Sobald der Nutzer den Post akzeptiert, speichere ihn als Musterpost in **memory_tool_musterposts**.  \n- Nutze gespeicherte Muster für zukünftige Posts mit memory_tool_allgemein, um deinen Stil weiter zu optimieren.  \n\nBeispiel:  \n➡ **Nutzer sagt:** „Perfekter Tweet, lass ihn posten!“  \n**Aktion:** Speichere diesen Tweet in **memory_tool_musterposts**.  \n\n\n#Ergänzung\nUm inhaltliche Exzellenz zu gewährleisten wird das Tool \"get_information\" vor jedem ersten Postentwurf einmal ausgelöst. IMMER\n\n---\n\n# Mission\n\nDu bist ein hochspezialisierter KI-Agent für virale Twitter-Posts.  \nMit jedem geschriebenen Tweet wirst du besser, weil du aus vergangenen Erfolgen lernst.  \n\n Dein Erfolg liegt in der Kunst, die **richtigen Worte** zur **richtigen Zeit** zu platzieren.  \nJeder Tweet könnte **viral gehen** – also denk groß! 💡 \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        780,
        -180
      ],
      "id": "4a3e0c4b-f95a-483f-a2c6-4549a1bf3e3c",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "gpt-4o-2024-11-20"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        80
      ],
      "id": "9cf87018-6c39-4955-9494-dc11a383deeb",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "X4Aff23hiTYoKU38",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appulp8VUKyMYBLAL",
          "mode": "list",
          "cachedResultName": "Gedächtnis",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL"
        },
        "table": {
          "__rl": true,
          "value": "tblZU0JlUpsKBBVkH",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL/tblZU0JlUpsKBBVkH"
        },
        "returnAll": false,
        "limit": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -140,
        -220
      ],
      "id": "dce80db0-e890-4159-aeda-b0e9c2474e3d",
      "name": "Allgemeine Informationen",
      "credentials": {
        "airtableTokenApi": {
          "id": "Uit0uvwB2ZigjuEV",
          "name": "n8n "
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appulp8VUKyMYBLAL",
          "mode": "list",
          "cachedResultName": "Gedächtnis",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL"
        },
        "table": {
          "__rl": true,
          "value": "tblAlnUH9JBstdZt9",
          "mode": "list",
          "cachedResultName": "Beispiel Posts",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL/tblAlnUH9JBstdZt9"
        },
        "returnAll": false,
        "limit": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -140,
        60
      ],
      "id": "56214ea5-c921-4010-a560-b8fdc8ffaced",
      "name": "Beispiel Posts",
      "credentials": {
        "airtableTokenApi": {
          "id": "Uit0uvwB2ZigjuEV",
          "name": "n8n "
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appulp8VUKyMYBLAL",
          "mode": "list",
          "cachedResultName": "Gedächtnis",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL"
        },
        "table": {
          "__rl": true,
          "value": "tblZU0JlUpsKBBVkH",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL/tblZU0JlUpsKBBVkH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Gedächtnis": "={{ $fromAI('der_neue_eintrag_fuer_das_gedaechtnis') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Gedächtnis",
              "displayName": "Gedächtnis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1000,
        40
      ],
      "id": "bdee2fab-6a52-4a99-b11b-a378b833e5ca",
      "name": "memory_tool_allgemein",
      "credentials": {
        "airtableTokenApi": {
          "id": "Uit0uvwB2ZigjuEV",
          "name": "n8n "
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appulp8VUKyMYBLAL",
          "mode": "list",
          "cachedResultName": "Gedächtnis",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL"
        },
        "table": {
          "__rl": true,
          "value": "tblAlnUH9JBstdZt9",
          "mode": "list",
          "cachedResultName": "Beispiel Posts",
          "cachedResultUrl": "https://airtable.com/appulp8VUKyMYBLAL/tblAlnUH9JBstdZt9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Musterposts": "={{ $fromAI('der_neue_eintrag_fuer_einen_musterpost') }}"
          },
          "matchingColumns": [
            "Musterposts"
          ],
          "schema": [
            {
              "id": "Musterposts",
              "displayName": "Musterposts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1200,
        60
      ],
      "id": "d8b80a09-6f42-4f02-bcaf-5e29fbd81d10",
      "name": "memory_tool_musterposts",
      "credentials": {
        "airtableTokenApi": {
          "id": "Uit0uvwB2ZigjuEV",
          "name": "n8n "
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -80
      ],
      "id": "c4221934-70c9-45de-acdd-9987b8f6b0f5",
      "name": "Telegram Trigger",
      "webhookId": "9e9fe983-7089-437d-a184-c8918345cd63",
      "credentials": {
        "telegramApi": {
          "id": "o8XI93vuT51IO99y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6751006269",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -180
      ],
      "id": "a9f6b182-af76-4bc4-90c1-ab96f51cccc5",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "o8XI93vuT51IO99y",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        60
      ],
      "id": "ff1b8d76-5615-486d-8add-0780c9751cac",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "ytdemo",
          "mode": "list",
          "cachedResultName": "ytdemo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1300,
        220
      ],
      "id": "578bc8d6-1a8d-4e38-95fc-598a9d81c870",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "jfbTzdQJuMySlZN0",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        320
      ],
      "id": "dceae781-ca22-4ebf-bd01-92438be836ce",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "X4Aff23hiTYoKU38",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        340
      ],
      "id": "80b61f5b-8b9d-4c6b-b7f6-e6f8948e5455",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "X4Aff23hiTYoKU38",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "Knowledge_Base_Twitter_Posts",
        "description": "Hier sind Informationen über unsere Nische bzw. über KI einmal gespeichert. ",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1300,
        20
      ],
      "id": "a044cdec-d8db-457c-ae68-f061267a62e4",
      "name": "get_information"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 163517907,
          "message": {
            "message_id": 20,
            "from": {
              "id": 6751006269,
              "is_bot": false,
              "first_name": "Niklas",
              "last_name": "B",
              "username": "niklas_ai",
              "language_code": "de"
            },
            "chat": {
              "id": 6751006269,
              "first_name": "Niklas",
              "last_name": "B",
              "username": "niklas_ai",
              "type": "private"
            },
            "date": 1741610808,
            "text": "Okay, kurze Frage:\nWie schreibe ich perfekte Prompts?\nWas gibt es da für Frameworks\nErstelle mir darüber einen Twitter Post."
          }
        }
      }
    ]
  },
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Allgemeine Informationen": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beispiel Posts": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory_tool_allgemein": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "memory_tool_musterposts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Allgemeine Informationen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Beispiel Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "get_information",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "get_information",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "get_information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5947f4f-c71b-4757-ae6e-f3157684c6b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d34952b11b47aff6ada8d4759703af5cf65910652b3465d099feede74fd6bb78"
  },
  "id": "lLTFA5fbIFZYsh0V",
  "tags": []
}